<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href = "/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    
    <title>السعيد في اللغة العربية</title>
</head>
<body>
  <div class="Navbar">
    <nav class="navbar navbar-expand-lg navbar-light trans-nav mt-3">
      <a class="navbar-brand mr-5" href="#">السعيد في اللغة العربية</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
        <ul class="navbar-nav mr-auto ml-5 mt-2">
          <li class="nav-item ml-3">
            <span class="main-butt"><a class="nav-link" href="./lectures.ejs">الرئيسية</a></span>
          </li>
          <li class="nav-item mr-3">
            <span class="log-butt"><a class="nav-link" href="#">Login</a></span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="section2">
        <div class="row">
        <div class="col-md-6 classes">
          <form action="/lectures" method="POST">
              <input class="button" type="submit" name="button1" value="الصف الثالث">
          </form>
          <!-- <a class="button" id="button1" ><span>الصف الثالث الاعدادي</span></a>
          <a class="button" href="./lectures.ejs"><span>الصف الاول الثانوي</span></a>
          <a class="button" href="./lectures.ejs"><span>الصف الثالث الاعدادي</span></a>
          <a class="button" href="./lectures.ejs"><span>الصف الثالث الاعدادي</span></a> -->

        </div>
        <div class="col-md-6">
          <div class="notice-box">
            <h4 id="notice-title">إرشادات  عامة</h4><br>
            <p>- يرجي اختيار المرحلة الخاصة بك وإدخال الكود في المكان المخصص</p>
            <p>- يرجي العلم ان مدة عمل الكود تستمر 24 ساعة من بداية تفعيل الكود.
            </p>
            <br><p>رقم الدعم الفني: 01222187050</p>
          </div>
        </div>
      </div>
  </div>
  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/home.js"></script>
</body>
</html>