<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>السعيد في اللغة العربية</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="title text-right blue mt-5">
        <h3 id="title"></h3>
      </div>
      <div class="row mt-5">
        <div class="col-md-9 col-sm-12">
          <iframe src="https://player.vimeo.com/video/482744666"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        </div>
        <div class="col-md-3 row mt-4">
          <div class="col-6 col-md-12 exam w-100 text-center py-2">
            <button class="btn1">النحو</button>
          </div>
          <div class="col-6 col-md-12 exam w-100 text-center py-2">
            <button class="btn2">البلاغة</button>
          </div>
          <div class="col-6 col-md-12 exam w-100 text-center py-2">
            <button class="btn3">تدريبات + علم المعاني</button>
          </div>
          <div class="col-6 col-md-12 exam w-100 text-center py-2">
            <a target="_blank" href="https://download1639.mediafire.com/dgpa4kfpgprg/3pemlqrv3sdrb9x/%D9%85%D8%B1%D8%A7%D8%AC%D8%B9%D8%A91.pdf"><button>الملزمة</button></a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
