<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>السعيد في اللغة العربية</title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href = "stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-grey">
        <a class="navbar-brand whiteColor" href="#">السعيد في اللغة العربية</a>
        <div class="navbar-expand-sm navbar-collapse" id="">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="">
                    <a class="nav-link" href="../">
                        <button class="btn bg-blue">الرئيسية</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="login">
        <form action="/login" method="POST">
            <div class="container form bg-black p-5">
                <div class="username">
                    <label for="">UserName: </label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="username mt-3">
                    <label for="">PassWord: </label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="button mt-3">
                    <button class="btn bg-white">Login</button>
                </div>
            </div>
        </form>
    </section>

</body>
</html>