body{
    height: 100vh;
    width: 100%;
    direction: rtl;
    background-color: rgba(0, 0, 0, 0.79);
}



.bg-black{
    background-color: rgba(0, 0, 0, 0.34);
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: rgba(17, 17, 113, 1) !important;
}
.bg-trans{
    background-color: transparent !important;
}
.bg-maroon{
    background-color: rgba(135, 0, 0, 1);
}


nav{
    direction: rtl;
}
.navbar{
    flex-wrap: nowrap !important;
}
.navbar-brand{
    color: white !important;
    font-weight: bolder !important;
    font-size: 1rem;
}
nav button{
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
}
nav button:hover{
    background-color: white !important; /* Green */
    color: black;
}


.navs{
    flex-wrap:  wrap !important;

}
.navs div{
    margin-top: 10px;
}
.navs button{
    border: 2px solid white;
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
}
.navs button:hover{
    background-color: rgba(17, 17, 113, 1) !important;
}



.addlec{
    position: fixed;
    bottom: 3%;
    left: 9%;
}
.addlec button{
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
}
.addlec button:hover{
    background-color: white !important; /* Green */
    color: black;
}



.cards{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.cards:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  
.cardsbg{
    border-radius: 5px;
}




.lightboxContainer{
    direction: ltr;
    width: 100%;
    height: 0;
    position: fixed;
    top: -200%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.lightboxContainer .lightboxItem{
    width: 70%;
    height: fit-content;
    background-color: lightgray;

}

.lightboxItem form label{
    color: black;
    font-weight: bold;

}

.editFormContainer{
    direction: ltr;
    width: 100%;
    height: 0;
    position: fixed;
    top: -200%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}


.editFormContainer .editFormItem{
    width: 70%;
    height: fit-content;
    background-color: lightgray;

}

.editFormItem form label{
    color: black;
    font-weight: bold;

}


.searchContainer{
    direction: ltr;
    width: 100%;
    height: 0;
    position: fixed;
    top: -200%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.searchContainer .searchItem{
    width: 70%;
    height: fit-content;
    background-color: transparent;

}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchItem .exit .iconify{
      color: white !important;
      top: 29%;

  }
  .searchTerm {
    width: 100%;
    border: 3px solid blue;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #393d3b;
  }
  
  .searchTerm:focus{
    color: #000000;
  }
  
  .searchButton {
    width: 40px;
    border: 1px solid blue;
    background-color: blue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  

form .button button{
    color: white;
    font-weight: bold;
}
.exit{
    width: 100%;
}
.exit *{
    position: absolute;
    right: 15%;
}
.iconify{
    font-size: 2rem !important;
    cursor: pointer;
}

.cards .delete .iconify{
    color: red;
}
.cards .edit .iconify{
    color: blue;
}

 #searchForm{
    display: none;
} 

.link{
    word-wrap    : break-word;

}
.addContainer{
    direction: ltr;
    width: 100%;
    height: 0;
    position: fixed;
    top: -200%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.addContainer .addItem{
    width: 70%;
    height: fit-content;
    background-color: lightgray;

}
.video{
    flex-wrap: wrap;
}
.video .icon{
    margin-top: 50px;
}
#addForm{
    height: 100vh;
    overflow-y: auto;
}
