body,html{
    background: url(../images/Background.png) fixed center center no-repeat;
    background-size: cover;
    overflow-x: hidden;
    direction: rtl;
}   

.navbar{
  background-color: transparent !important;
}
.navbar .collapsing,
.navbar .show {
    background:rgba(0, 0, 0, 0.7) !important;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.trans-nav{
    background: transparent !important;
}
.navbar-brand{
    color: white !important;
    font-size: 2rem;
}
.main-butt a{
    width:160px ;
    height: 44px;
    border-radius: 20px;
    outline: none !important;
    background-color: rgba(0, 0,0, 0.6);
    color: white !important;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    
}
.log-butt a{
    width:170px;
    text-align: center;
    height:44px ;
    border-radius: 10px;
    outline: none !important;
    background-color:#5D19C5;
    color: white !important;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 2px 1px #26045D;
}
.log-butt a:hover {
    background-color: #26045D;
    transition: 1s;
}

.log-butt a:active {
  background-color: #5D19C5;
  box-shadow: 0 2px  darkblue;
  transform: translateY(4px);
  transition: 0.1s;
}

nav ul {
  padding: 0;
}
.classes a{
    transition: all 0.5s;
    height: 50px;
    text-align: center;
    border: darkblue 2px solid;
    margin-bottom: 30px!important;
    background-color:#26045D ;
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
    display: block;
    margin: auto;
    outline: none;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 1px #26045D;
    width: 80%;

}
.section2{
    margin-top: 10%;
    direction: rtl;
}
 .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after{
    opacity: 1;
    right: 0;
  }
.notice-box{
    
    background-color:rgba(0, 0,0, 0.5);
    text-align: center;
    margin: auto;
    width: 80%;
    align-items: center;
    padding: 40px;
    align-items: center;
    
}

.notice-box #notice-title,p{
    color: white;
}


@media (max-width: 780px){
  .classes a{
    font-size: 12px;
    font-weight: bolder;
  }
  .notice-box{
    font-size: 12px;
  }
  .notice-box h4{
    font-size: 20px;
  }
  .navbar-brand{
    font-size: 1.3rem;
}
}
